<div #addEditModal class="modal show-modal" *ngIf="addEditForm">
  <div class="modal-dialog modal-lg animate__animated animate__fadeIn">
    <div class="modal-content">
      <div class="modal-header">
        <fa-icon [icon]="['fas', 'bolt']" [class]="'me-2'" style="font-size: 22px"></fa-icon>
        <h3 *ngIf="!switchboardToEdit" translate>AddSwitchboard</h3>
        <h3 *ngIf="switchboardToEdit" translate>EditSwitchboard</h3>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="addEditForm" class="pb-5">
          <div class="row">
            <div class="col-lg-6 col-md-12 mt-3">
              <label>{{ 'Name' | translate }}*</label>

              <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                formControlName="name"
                title="{{ 'Name' | translate }}*"
                placeholder="{{ 'Name' | translate }}*" />

              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('name')"></app-form-errors>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="row" style="width: 100%">
          <div class="col-12 p-0">
            <button
              type="button"
              (click)="switchboardToEdit ? editSwitchboard() : addSwitchboard()"
              class="btn float-end {{ switchboardToEdit ? 'btn-warning' : 'btn-success' }}"
              [disabled]="!addEditForm.valid">
              <fa-icon [icon]="['fas', switchboardToEdit ? 'edit' : 'plus']" [class]="'me-2'"></fa-icon>
              {{ (switchboardToEdit ? 'Edit' : 'Add') | translate }}
            </button>
            <button type="button" class="btn btn-secondary float-start" (click)="close.emit()" translate>Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
