<nav class="navbar navbar-expand-custom navbar-mainbg">
  <a class="navbar-brand navbar-logo cursor-pointer"
     routerLinkActive="active"
     routerLink="home">
    <img src="../../../../assets/img/logo.png" alt="Ел-рекърд" style="height: 35px">
  </a>

  <button *ngIf="authService.isAuthenticated()"
          class="navbar-toggler" type="button"
          (click)="collapseMenu = !collapseMenu">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>

  <div class="navbar-collapse" id="navbarSupportedContent"
       [ngClass]="{'collapse': collapseMenu}">

    <ul class="navbar-nav ms-auto" *ngIf="!authService.isAuthenticated()">
      <li class="nav-item"
          routerLinkActive="active"
          routerLink="login"
          (click)="collapseMenu = true;">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'right-to-bracket']" [class]="'me-1'"></fa-icon>
          {{'Login' | translate}}
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="authService.isAuthenticated()">
      <li *appRoleAccess="'Administrator'"
          class="nav-item"
          routerLinkActive="active"
          routerLink="users"
          (click)="collapseMenu = true;">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'people-group']" [class]="'me-1'"></fa-icon>
          {{'Users' | translate}}
        </a>
      </li>

      <li *appRoleAccess="'Administrator, Moderator'"
          class="nav-item"
          routerLinkActive="active"
          routerLink="subscribers"
          (click)="collapseMenu = true;">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'person-shelter']" [class]="'me-1'"></fa-icon>
          {{'Subscribers' | translate}}
        </a>
      </li>

      <li *appRoleAccess="'Administrator, Moderator, Basic'"
          class="nav-item"
          routerLinkActive="active"
          routerLink="electric-meters"
          (click)="collapseMenu = true;">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'bolt']" [class]="'me-1'"></fa-icon>
          {{'Switchboards' | translate}}
        </a>
      </li>

      <li *appRoleAccess="'Administrator, Moderator'"
          class="nav-item"
          routerLinkActive="active"
          routerLink="prices"
          (click)="collapseMenu = true;">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'money-bill-wave']" [class]="'me-1'"></fa-icon>
          {{'Prices' | translate}}
        </a>
      </li>

      <li *appRoleAccess="'Administrator, Moderator, Basic'"
          class="nav-item"
          routerLinkActive="active"
          routerLink="readings"
          (click)="collapseMenu = true;">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'rectangle-list']" [class]="'me-1'"></fa-icon>
          {{'Readings' | translate}}
        </a>
      </li>

      <li *appRoleAccess="'Administrator, Moderator'"
          class="nav-item"
          routerLinkActive="active"
          routerLink="payments"
          (click)="collapseMenu = true;">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'coins']" [class]="'me-1'"></fa-icon>
          {{'Payments' | translate}}
        </a>
      </li>

      <li *appRoleAccess="'Administrator, Moderator'"
          class="nav-item"
          routerLinkActive="active"
          routerLink="settings"
          (click)="collapseMenu = true;">
        <a class="nav-link" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'cogs']" [class]="'me-1'"></fa-icon>
          {{'Settings' | translate}}
        </a>
      </li>

      <li class="nav-item"
          (click)="logOut(); collapseMenu = true;">
        <a class="nav-link text-danger" href="javascript:void(0);">
          <fa-icon [icon]="['fas', 'sign-out']" [class]="'me-1'"></fa-icon>
        </a>
      </li>

<!--      <li>-->
<!--        <div class="btn-group dropleft">-->
<!--          <div-->
<!--            class="dropdown-toggle text-light cursor-pointer"-->
<!--            data-toggle="dropdown"-->
<!--            aria-haspopup="true"-->
<!--            aria-expanded="false"-->
<!--            style="padding: 20px;">-->
<!--            <fa-icon [icon]="['fas', 'user']"-->
<!--                     [class]="'me-1'"></fa-icon><b class="caret"></b>-->
<!--          </div>-->
<!--          <ul class="dropdown-menu px-1 user-panel">-->
<!--            <li>-->
<!--              <p class="text-center text-uppercase text-secondary my-2" style="font-size: 20px">-->
<!--                <b>Hello, admin</b>-->
<!--              </p>-->
<!--            </li>-->
<!--            <hr class="m-0" />-->
<!--            <li class="p-1 text-center cursor-pointer text-primary" [routerLink]="['change-password']">-->
<!--              <button class="btn btn-outline-secondary btn-sm no-box-shadow" style="width: 100%">-->
<!--                <i class="fa fa-key" aria-hidden="true"></i>-->
<!--                <span class="pl-2" translate>ChangePassword</span>-->
<!--              </button>-->
<!--            </li>-->
<!--            <hr class="m-0" />-->
<!--            <li class="p-1 text-center mb-2" (click)="logOut()">-->
<!--              <button class="btn btn-outline-danger btn-sm no-box-shadow" style="width: 100%">-->
<!--                <i class="fa fa-power-off" aria-hidden="true"></i>-->
<!--                <span class="pl-2" translate>LogOut</span>-->
<!--              </button>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
  </div>
</nav>
