span.dropdown-btn {
  padding: 8px 12px 8px 40px !important;
}
.without-overflow {
  overflow: hidden;
  max-height: calc(100vh - 60px);
}
.without-overflow-big {
  overflow: hidden;
  max-height: calc(100vh - 270px);
}
.multiselect-dropdown .dropdown-btn {
  border: 1px solid #ced4da !important;
}
.badge {
  padding: 7px 14px;
  font-size: 1rem;
  border-radius: 5px 5px 0 0;
}
.btn:focus {
  outline: none;
}
.show-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
.modal-xl {
  max-width: calc(100vw - 100px) !important;
  margin: 25px auto;
}
.modal-lgg {
  max-width: calc(90vw - 100px) !important;
  margin: 25px auto;
}
.modal-body {
  overflow: auto;
}
.text-bold {
  font-weight: bold;
}
.flex-row {
  display: flex;
}
.flex-auto {
  flex: 1;
}
.flex-align-center {
  align-items: center;
}

.form-control:hover {
  border: 1px solid $primary;
}

.active-readonly[readonly] {
  background-color: white;
  opacity: 1;
}

p {
  overflow: unset !important;
}

.header-filter {
  background: #f4f4f4;
  width: 100%;
  padding: 15px;
}

.diagonal-split-background {
  background-color: #5fc06a;
  background-image: -webkit-linear-gradient(30deg, #f17d7a 50%, #8ae194 50%);
  color: black;
  font-weight: bold;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.btn-outline-primary {
  --bs-btn-color: #0A9396;
  --bs-btn-border-color: #0A9396;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0A9396;
  --bs-btn-hover-border-color: #0A9396;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0A9396;
  --bs-btn-active-border-color: #0A9396;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0A9396;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0A9396;
  --bs-gradient: none;
}

@media screen and (max-width: 500px) {
  .modal-xl {
    max-width: calc(100vw - 10px) !important;
  }
}
@media screen and (max-width: 500px) {
  .modal-lgg {
    max-width: calc(90vw - 10px) !important;
  }
}
