<div class="container">
  <div class="row">

    <div class="col-12 mt-5" (click)="initAddSubscriber()">
      <button class="btn btn-outline-success">
        <fa-icon [icon]="['fas', 'plus']" [class]="'me-2'"></fa-icon>
        {{'AddSubscriber' | translate}}
      </button>
    </div>

    <div class="col-12 mt-3">

      <p-table [value]="subscribers" [tableStyle]="{ 'width': '100%' }">
        <ng-template pTemplate="header">
          <tr>
            <th translate>NumberPage</th>
            <th translate>Name</th>
            <th translate>Switchboard</th>
            <th translate>MeterNumber</th>
            <th translate>LastReading</th>
            <th translate>LastRecord</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subscriber>
          <tr>
            <td>{{ subscriber.numberPage }}</td>
            <td class="font-weight-bold">{{ subscriber.name }}</td>
            <td>{{ subscriber.switchboard }}</td>
            <td>{{ subscriber.meterNumber }}</td>
            <td>
              <span *ngIf="subscriber.lastReading">{{ subscriber.lastReading }} {{'kvh' | translate}}</span>
              <span *ngIf="!subscriber.lastReading">-</span>
            </td>
            <td>
              <span *ngIf="subscriber.lastRecordDate">{{ subscriber.lastRecordDate | date: 'dd.MM.yyyy'}}</span>
              <span *ngIf="!subscriber.lastRecordDate">-</span>
            </td>
            <td>
              <a class="nav-link text-warning cursor-pointer btn-action" (click)="openSubscriberForEdit(subscriber)">
                <fa-icon [icon]="['fas', 'edit']" [class]="'me-2'"></fa-icon>
              </a>
              <a class="nav-link text-danger cursor-pointer btn-action" (click)="askToDeleteSubscriber(subscriber)">
                <fa-icon [icon]="['fas', 'trash']" [class]="'me-2'"></fa-icon>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>


    </div>
  </div>
</div>

<ng-container *ngIf="addSubscriber || subscriberForEdit">
  <app-add-edit-subscribers [subscriberToEdit]="subscriberForEdit"
                            (close)="addSubscriber = false; subscriberForEdit = null; fetchSubscribersList();"></app-add-edit-subscribers>
</ng-container>

<p-confirmDialog
  header="{{ 'Confirmation' | translate }}"
  icon="pi pi-exclamation-triangle"
  rejectLabel="{{ 'No' | translate }}"
  acceptLabel="{{ 'Yes' | translate }}"></p-confirmDialog>
