<div #addEditModal class="modal show-modal" *ngIf="addEditForm">
  <div class="modal-dialog modal-lg animate__animated animate__fadeIn">
    <div class="modal-content">
      <div class="modal-header">
        <fa-icon [icon]="['fas', 'person-shelter']" [class]="'me-2'" style="font-size: 22px"></fa-icon>
        <h3 *ngIf="!subscriberToEdit" translate>AddSubscriber</h3>
        <h3 *ngIf="subscriberToEdit" translate>EditSubscriber</h3>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="addEditForm" class="pb-5">
          <div class="row">
            <!--            <div class="col-lg-6 col-md-12 mt-3">-->
            <!--              <label>{{ 'NumberPage' | translate }}</label>-->

            <!--              <input-->
            <!--                type="number"-->
            <!--                class="form-control"-->
            <!--                name="numberPage"-->
            <!--                id="numberPage"-->
            <!--                formControlName="numberPage"-->
            <!--                title="{{ 'NumberPage' | translate }}"-->
            <!--                placeholder="{{ 'NumberPage' | translate }}" />-->

            <!--              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('numberPage')"></app-form-errors>-->
            <!--            </div>-->

            <div class="col-lg-6 col-md-12 mt-3">
              <label>{{ 'Name' | translate }}*</label>

              <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                formControlName="name"
                title="{{ 'Name' | translate }}*"
                placeholder="{{ 'Name' | translate }}*" />

              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('name')"></app-form-errors>
            </div>

            <div class="col-lg-6 col-md-12 mt-3">
              <label>{{ 'Switchboard' | translate }}*</label>

              <select name="switchboard" id="switchboard" class="form-control" formControlName="switchboardId">
                <option *ngFor="let switchboard of switchBoardsList" [ngValue]="switchboard.id">
                  {{ switchboard.name }}
                </option>
              </select>

              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('switchboardId')"></app-form-errors>
            </div>

            <div class="col-lg-6 col-md-12 mt-3">
              <label>{{ 'Address' | translate }}</label>

              <input
                type="text"
                class="form-control"
                name="address"
                id="address"
                formControlName="address"
                title="{{ 'Address' | translate }}"
                placeholder="{{ 'Address' | translate }}" />

              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('address')"></app-form-errors>
            </div>

            <div class="col-lg-6 col-md-12 mt-3">
              <label>{{ 'Phone' | translate }}</label>

              <input
                type="text"
                class="form-control"
                name="phone"
                id="phone"
                formControlName="phone"
                title="{{ 'Phone' | translate }}"
                placeholder="{{ 'Phone' | translate }}" />

              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('phone')"></app-form-errors>
            </div>

            <!--            <div class="col-lg-6 col-md-12 mt-3">-->
            <!--              <label>{{ 'MeterNumber' | translate }}</label>-->

            <!--              <input-->
            <!--                type="text"-->
            <!--                class="form-control"-->
            <!--                name="meterNumber"-->
            <!--                id="meterNumber"-->
            <!--                formControlName="meterNumber"-->
            <!--                title="{{ 'MeterNumber' | translate }}"-->
            <!--                placeholder="{{ 'MeterNumber' | translate }}" />-->

            <!--              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('meterNumber')"></app-form-errors>-->
            <!--            </div>-->

            <div class="col-lg-12 col-md-12 mt-3">
              <label>{{ 'Note' | translate }}</label>

              <input
                type="text"
                class="form-control"
                name="note"
                id="note"
                formControlName="note"
                title="{{ 'Note' | translate }}"
                placeholder="{{ 'Note' | translate }}" />

              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('note')"></app-form-errors>
            </div>

            <div
              *ngIf="!subscriberToEdit || (subscriberToEdit && !subscriberToEdit.lastRecordDate)"
              class="col-lg-6 col-md-12 mt-3">
              <label>{{ 'DefaultReading' | translate }}</label>

              <input
                formControlName="defaultReading"
                type="number"
                class="form-control"
                name="value"
                id="value"
                title="{{ 'DefaultReading' | translate }}"
                placeholder="{{ 'DefaultReading' | translate }}" />

              <app-form-errors
                [withoutTooltip]="true"
                [control]="addEditForm.get('defaultReading')"
                [min]="0"></app-form-errors>
            </div>

            <div class="col-lg-6 col-md-12 mt-3">
              <label class="mb-1">{{ 'PhaseCount' | translate }}</label>

              <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center phase-radio">
                  <p-radioButton [value]="1" formControlName="phaseCount" [inputId]="'phase1'" />
                  <label [for]="'phase1'" class="phase-label ml-2"> 1 </label>
                </div>
                <div class="flex align-items-center phase-radio">
                  <p-radioButton [value]="2" formControlName="phaseCount" [inputId]="'phase2'" />
                  <label [for]="'phase2'" class="phase-label ml-2"> 2 </label>
                </div>
                <div class="flex align-items-center phase-radio">
                  <p-radioButton [value]="3" formControlName="phaseCount" [inputId]="'phase3'" />
                  <label [for]="'phase3'" class="phase-label ml-2"> 3 </label>
                </div>
              </div>

              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('phaseCount')"></app-form-errors>
            </div>

            <div class="col-lg-6 col-md-12 mt-3">
              <label class="mb-1"
                >{{ 'ReadingCoefficient' | translate }}
                <fa-icon
                  [icon]="['fas', 'circle-info']"
                  pTooltip="{{ 'ReadingCoefficientDescription' | translate }}"
                  tooltipPosition="top"
                  [class]="'ml-2 text-primary'"></fa-icon>
              </label>

              <input
                formControlName="readingCoefficient"
                type="number"
                class="form-control"
                name="value"
                id="value"
                title="{{ 'ReadingCoefficient' | translate }}"
                placeholder="{{ 'ReadingCoefficient' | translate }}" />

              <app-form-errors
                [withoutTooltip]="true"
                [control]="addEditForm.get('readingCoefficient')"></app-form-errors>
            </div>

            <div class="col-12 mt-3">
              <label class="mb-1">{{ 'PriceApplied' | translate }}</label>

              <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center phase-radio">
                  <p-radioButton [value]="1" formControlName="priceApplied" [inputId]="'price1'" />
                  <label [for]="'price1'" class="phase-label ml-2">{{ 'CommonPrice' | translate }}</label>
                </div>
                <div class="flex align-items-center phase-radio">
                  <p-radioButton [value]="2" formControlName="priceApplied" [inputId]="'price2'" />
                  <label [for]="'price2'" class="phase-label ml-2">{{ 'IndividualPrice' | translate }}</label>
                </div>
                <div class="flex align-items-center phase-radio">
                  <p-radioButton [value]="3" formControlName="priceApplied" [inputId]="'price3'" />
                  <label [for]="'price3'" class="phase-label ml-2">{{ 'IndividualPercent' | translate }}</label>
                </div>
              </div>

              <app-form-errors [withoutTooltip]="true" [control]="addEditForm.get('priceApplied')"></app-form-errors>
            </div>

            @if (addEditForm.get('priceApplied')?.value === 2) {
              <div class="col-lg-6 col-md-12 mt-3">
                <label class="mb-1">{{ 'IndividualPrice' | translate }}</label>
                <input
                  formControlName="individualPrice"
                  type="number"
                  class="form-control"
                  name="value"
                  id="value"
                  title="{{ 'IndividualPrice' | translate }}"
                  placeholder="{{ 'IndividualPrice' | translate }}" />

                <app-form-errors
                  [withoutTooltip]="true"
                  [control]="addEditForm.get('individualPrice')"
                  [min]="0"></app-form-errors>
              </div>
            }

            @if (addEditForm.get('priceApplied')?.value === 3) {
              <div class="col-lg-6 col-md-12 mt-3">
                <label class="mb-1">{{ 'IndividualPercent' | translate }}</label>
                <input
                  formControlName="individualPricePercent"
                  type="number"
                  class="form-control"
                  name="value"
                  id="value"
                  title="{{ 'IndividualPercent' | translate }}"
                  placeholder="{{ 'IndividualPercent' | translate }}" />

                <app-form-errors
                  [withoutTooltip]="true"
                  [control]="addEditForm.get('individualPricePercent')"
                  [min]="-100"
                  [max]="100000"></app-form-errors>
              </div>

              @if (addEditForm.get('individualPricePercent')) {
                <div class="col-lg-6 col-md-12 mt-3">
                  <label class="mb-1" style="opacity: 0; display: block">{{ 'IndividualPercent' | translate }}</label>
                  Пример: При текуща цена 0.20€: <br />
                  {{ addEditForm.get('individualPricePercent')?.value }}% от 0.20€ =
                  {{ (addEditForm.get('individualPricePercent')?.value * 0.2) / 100 | twoAfterDot }}€
                </div>
              }
            }
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="row" style="width: 100%">
          <div class="col-12 p-0">
            <button
              type="button"
              (click)="subscriberToEdit ? editSubscriber() : addSubscriber()"
              class="btn float-end {{ subscriberToEdit ? 'btn-warning' : 'btn-success' }}"
              [disabled]="!addEditForm.valid">
              <fa-icon [icon]="['fas', subscriberToEdit ? 'edit' : 'plus']" [class]="'me-2'"></fa-icon>
              {{ (subscriberToEdit ? 'Edit' : 'Add') | translate }}
            </button>
            <button type="button" class="btn btn-secondary float-start" (click)="close.emit()" translate>Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
