<div class="container">
  <div class="row">

    <div class="col-12">
      <app-page-heading [title]="'Prices'"></app-page-heading>
    </div>

    <div class="col-12 mt-5" *appRoleAccess="'Administrator'">
      <button class="btn btn-outline-success" (click)="initAddPrice()">
        <fa-icon [icon]="['fas', 'plus']" [class]="'me-2'"></fa-icon>
        {{'AddPrice' | translate}}
      </button>
    </div>

    <div class="col-12 mt-5">

      <p-table [value]="pricesList"
               styleClass="p-datatable-gridlines"
               [tableStyle]="{ 'width': '100%' }"
               [lazy]="true"
               (onLazyLoad)="fetchPricesList($event)"
               [sortField]="sortField" [sortOrder]="sortOrder"
               [totalRecords]="totalRecords"
               [paginator]="true"
               [rows]="10"
               [rowsPerPageOptions]="[5, 10, 20, 50]"
               [scrollable]="true" scrollHeight="80vh">
        <ng-template pTemplate="header">
          <tr>
<!--            <th pSortableColumn="id" translate>Number<p-sortIcon field="id" /></th>-->
            <th pSortableColumn="priceInLv" style="min-width: 100px;" translate>PriceInBGN<p-sortIcon field="priceInLv" /></th>
            <th pSortableColumn="dateFrom" style="min-width: 120px;" translate>DateFrom<p-sortIcon field="dateFrom" /></th>
            <th pSortableColumn="dateTo" style="min-width: 120px;" translate>DateTo<p-sortIcon field="dateTo" /></th>
            <th style="min-width: 120px;" translate>Note</th>
            <th *appRoleAccess="'Administrator'" alignFrozen="right" pFrozenColumn></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-price>
          <tr>
<!--            <td>{{ price.id }}</td>-->
            <td class="font-weight-bold">{{ price.priceInLv | twoAfterDot }}лв.</td>
            <td>{{ price.dateFrom | date: 'dd.MM.yyyy'}}</td>
            <td>
              <span *ngIf="price.dateTo">{{ price.dateTo | date: 'dd.MM.yyyy'}}</span>
              <span *ngIf="!price.dateTo">-</span>
            </td>
            <td>{{ price.note }}</td>
            <td *appRoleAccess="'Administrator'" alignFrozen="right" pFrozenColumn>
              <ng-container *appRoleAccess="'Administrator'">
                <a class="nav-link text-warning cursor-pointer btn-action"
                   (click)="openPriceForEdit(price)">
                  <fa-icon [icon]="['fas', 'edit']" [class]="'me-2'"></fa-icon>
                </a>
                <a *ngIf="!price.isUsed"
                   class="nav-link text-danger cursor-pointer btn-action"
                   (click)="askToDeletePrice(price)">
                  <fa-icon [icon]="['fas', 'trash']" [class]="'me-2'"></fa-icon>
                </a>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>


    </div>
  </div>
</div>

<ng-container *ngIf="addPrice || priceForEdit">
  <app-add-edit-prices [priceToEdit]="priceForEdit"
                       (close)="addPrice = false; priceForEdit = null; fetchPricesList();"></app-add-edit-prices>
</ng-container>
