<div class="container">
  <div class="row my-4">

    <div class="col-12">
      <app-page-heading [title]="'Switchboards'"></app-page-heading>
    </div>

    <div *appRoleAccess="'Administrator, Moderator'" class="col-12 mt-5">
      <button class="btn btn-outline-success"
              (click)="initAddSwitchboard()">
        <fa-icon [icon]="['fas', 'plus']" [class]="'me-2'"></fa-icon>
        {{'AddSwitchboard' | translate}}
      </button>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12 mt-4" *ngFor="let switchboard of switchboardsList">
      <div class="card" style="width: 100%;">
        <div class="card-body bg-primary font-weight-bold text-light">
          <h5 class="card-title">{{'Switchboard' | translate}} - {{switchboard.name}}</h5>
        </div>

        <ul *ngIf="switchboard.subscribers?.length"
            class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let subscriber of switchboard.subscribers">
            {{subscriber.name}}
            <span class="float-end font-weight-bold">{{subscriber.lastReading ? subscriber.lastReading : subscriber.defaultReading ? subscriber.defaultReading : 0}} {{'kvh' | translate}}</span>
          </li>
        </ul>

        <ul *ngIf="!switchboard.subscribers?.length"
            class="list-group list-group-flush">
          <li class="list-group-item">
            {{'ThereAreNoSubscribersForThisSwitchboard' | translate}}
          </li>
        </ul>

        <div class="card-body">
          <div class="row">
            <div class="col-12 p-0 text-right">
              <ng-container *appRoleAccess="'Administrator'">
                <button class="btn btn-outline-danger float-end ms-2"
                        *ngIf="!switchboard.subscribers?.length"
                        (click)="askToDeleteSwitchboard(switchboard)">
                  <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>
                <button *ngIf="switchboard.subscribers?.length"
                        class="btn btn-outline-warning float-end ms-2"
                        (click)="switchboardForEdit = switchboard;">
                  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                </button>
              </ng-container>
              <ng-container *appRoleAccess="'Administrator, Moderator'">
                <button *ngIf="!switchboard.subscribers?.length"
                        class="btn btn-outline-warning float-end ms-2"
                        (click)="switchboardForEdit = switchboard;">
                  <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                </button>
                <button class="btn btn-outline-primary float-end"
                        *ngIf="switchboard.subscribers?.length"
                        (click)="subscribersToAddReadings = switchboard.subscribers;">
                  {{'EnterReadings' | translate}}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-container *ngIf="addSwitchboard || switchboardForEdit">
  <app-add-edit-switchboard [switchboardToEdit]="switchboardForEdit"
                            (close)="addSwitchboard = false; switchboardForEdit = null; fetchSwitchboardsList();"></app-add-edit-switchboard>
</ng-container>

<ng-container *ngIf="subscribersToAddReadings?.length">
  <app-add-reading-for-switchboard [subscribers]="subscribersToAddReadings"
                                   (close)="subscribersToAddReadings = null; fetchSwitchboardsList();"></app-add-reading-for-switchboard>
</ng-container>

<p-confirmDialog
  header="{{ 'Confirmation' | translate }}"
  icon="pi pi-exclamation-triangle"
  rejectLabel="{{ 'No' | translate }}"
  acceptLabel="{{ 'Yes' | translate }}"></p-confirmDialog>
