<div class="container">
  <div class="row">

    <div class="col-12">
      <app-page-heading [title]="'Readings'"></app-page-heading>
    </div>

    <div class="col-12 mt-3">

      <p-table [value]="readingsList"
               styleClass="p-datatable-gridlines"
               [tableStyle]="{ 'width': '100%' }"
               [lazy]="true"
               (onLazyLoad)="fetchReadingsList($event)"
               [sortField]="sortField" [sortOrder]="sortOrder"
               [totalRecords]="totalRecords"
               [paginator]="true"
               [rows]="10"
               [rowsPerPageOptions]="[5, 10, 20, 50]"
               [scrollable]="true" scrollHeight="80vh">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" translate>Id<p-sortIcon field="id" /></th>
            <th pSortableColumn="subscriber" style="min-width: 160px;" translate>Subscriber<p-sortIcon field="subscriber" /></th>
            <th pSortableColumn="dateFrom" style="min-width: 120px;" translate>DateFrom<p-sortIcon field="dateFrom" /></th>
            <th pSortableColumn="dateTo" style="min-width: 120px;" translate>DateTo<p-sortIcon field="dateTo" /></th>
            <th pSortableColumn="value" style="min-width: 120px;" translate>ReadingInKvh<p-sortIcon field="value" /></th>
            <th pSortableColumn="difference" style="min-width: 120px;" translate>Difference<p-sortIcon field="difference" /></th>
            <th pSortableColumn="currentPrice" style="min-width: 120px;" translate>TariffInBgn<p-sortIcon field="currentPrice" /></th>
            <th pSortableColumn="amountDue" style="min-width: 120px;" translate>ForPaymentInBgn<p-sortIcon field="amountDue" /></th>
            <th style="min-width: 80px;" translate>IsPaid</th>
            <th style="min-width: 80px;" translate>Switchboard</th>
<!--            <th style="min-width: 80px;" translate>MeterNumber</th>-->
            <th alignFrozen="right" pFrozenColumn></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reading>
          <tr>
            <td>{{ reading.id }}</td>
            <td class="font-weight-bold">{{ reading.subscriber?.name }}</td>
            <td>{{ reading.dateFrom | date: 'dd.MM.yyyy' }}</td>
            <td>{{ reading.dateTo | date: 'dd.MM.yyyy' }}</td>
            <td>{{ reading.value }} {{'kvh' | translate}}</td>
            <td>{{ reading.difference }} {{'kvh' | translate}}</td>
            <td>{{ reading.currentPrice | twoAfterDot }} {{'BgnVaultSmall' | translate}}</td>
            <td>{{ reading.amountDue | twoAfterDot }} {{'BgnVaultSmall' | translate}}</td>
            <td>
              <fa-icon *ngIf="reading.isPaid"
                       title="{{'Paid' | translate}}"
                       [icon]="['fas', 'check-circle']"
                       [class]="'text-success'"></fa-icon>
              <fa-icon *ngIf="!reading.isPaid"
                       title="{{'NotPaid' | translate}}"
                       [icon]="['fas', 'times']"
                       [class]="'text-danger'"></fa-icon>
            </td>
            <td>{{ reading.subscriber?.switchboardNumber }}</td>
<!--            <td>{{ reading.subscriber?.meterNumber }}</td>-->
            <td alignFrozen="right" pFrozenColumn>
              <ng-container *appRoleAccess="'Administrator, Moderator, Basic'">
                <a class="nav-link text-success cursor-pointer btn-action" (click)="readingToPrintReceipt = reading;">
                  <fa-icon [icon]="['fas', 'print']" [class]="'me-2'"></fa-icon>
                </a>
              </ng-container>

              <ng-container *appRoleAccess="'Administrator, Moderator'">
                <a class="nav-link text-warning cursor-pointer btn-action" (click)="openReadingForEdit(reading)">
                  <fa-icon [icon]="['fas', 'edit']" [class]="'me-2'"></fa-icon>
                </a>
              </ng-container>
              <ng-container *appRoleAccess="'Administrator'">
                <a class="nav-link text-danger cursor-pointer btn-action" (click)="askToDeleteReading(reading)">
                  <fa-icon [icon]="['fas', 'trash']" [class]="'me-2'"></fa-icon>
                </a>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>


    </div>
  </div>
</div>

<ng-container *ngIf="readingForEdit">
  <app-add-reading-for-subscriber [readingToEdit]="readingForEdit"
                                  (close)="readingForEdit = null; fetchReadingsList();"></app-add-reading-for-subscriber>
</ng-container>

<ng-container *ngIf="readingToPrintReceipt">
  <app-print-receipt [reading]="readingToPrintReceipt"
                     (close)="readingToPrintReceipt = null; fetchReadingsList();"></app-print-receipt>
</ng-container>

<p-confirmDialog
  header="{{ 'Confirmation' | translate }}"
  icon="pi pi-exclamation-triangle"
  rejectLabel="{{ 'No' | translate }}"
  acceptLabel="{{ 'Yes' | translate }}"></p-confirmDialog>
