@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto+Mono:300,400');
$darkBG: #222941;
$darkAccent: #2e3756;
$darkAccentLighter: rgb(73,89,110);

.hero {
  background: linear-gradient(rgba(34, 41, 65, 0.45), rgba(46, 55, 86, 0.45)), url('../../../assets/img/coming-soon-bg.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 65px);
  width: 100vw;
  overflow: hidden;
}

.hero-body {
  .title {
    font-weight: 300 !important;
    font-size: 4rem !important;
    letter-spacing: 15px;
    color: #ffffff !important;
    margin-top: calc((100vh) / 3);
  }

}

/* -------------------- */
/* -- Animations CSS -- */
/* -------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.fade.fadeOne {
  animation-delay: 1s;
}

.fade.fadeTwo {
  animation-delay: 1.5s;
}

.fade.fadeThree {
  animation-delay: 3.2s;
  span {
    font-size: .8rem;
  }
}
