.title-span {
  border-bottom: 1px groove #0a9396;
  border-radius: 6px;
  display: inline;
  padding: 0 10px;
  text-align: center;
}

@media (max-width: 990px) {
  .page-heading {
    display: none;
  }
}
